# Copy to .env and adjust values as needed

# Django
DEBUG=true
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=

# Secret key (generate a strong value for production)
SECRET_KEY=django-insecure-change-me

# Postgres
POSTGRES_DB=license_db
POSTGRES_USER=namnn
POSTGRES_PASSWORD=Ngocnam2210
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

